.tooltip-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background: #000;
  color: #fff;
}
.tooltip-btn-icon {
  position: relative;
  top: -0.06em;
}
.tooltip-panel {
  position: absolute;
}
.panel-enter-active,
.panel-leave-active {
  transition: opacity 0.2s, transform 0.3s ease-out;
}
.panel-enter-to,
.panel-leave {
  opacity: 1;
}
.panel-enter,
.panel-leave-to {
  opacity: 0;
  transform: translateY(5px);
}

